<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" type="text/css" href="/app/styles/{{ styles }}.scss"/> -->
  </head>
  </body>
    {{{ body }}}
  </body>
  <!-- <script src={{ scriptSrc }}></script> -->
</html>
